.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: start;
  max-width: 100vw;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-width: 100vw;
}
