.root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  color: white;
}

.header {
  color: white;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  font-size: 3.5vh;
}

.logoHeader {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    width: 27vh;
    height: 27vh;
  }

  margin: 0px;
}

.logoParent {
  width: 27vh;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin: 1vh;
  padding: 0px;
}

.description {
  font-weight: 400;
  padding: 0px;
  margin: 1vh;
  font-size: 2vh;
}

.connectText {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 1.5vh;
}

.connectImgParent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 10vh;
  max-height: 10vh;
  min-height: 10vh;
  margin: 1vh;
}

.connectImg {
  width: 6vh;
  height: 6vh;
  border-radius: 0px;
  margin: 1vh;
  transition: 0.1s ease-in-out;

  &:hover {
    height: 8vh;
    width: 8vh;
  }
}
